# Created by venv; see https://docs.python.org/3/library/venv.html
etc/
Include/
Lib/
Scripts/
share/
pyvenv.cfg
.omx/
.codex/

node_modules/
.env
__pycache__/
.pytest_cache/
.superpowers/

.pytest_cache
